@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cal+Sans&family=Courgette&family=Didact+Gothic&family=Fjalla+One&family=Fredoka:wght@300..700&family=Great+Vibes&family=Lexend:wght@100..900&family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  list-style: none;
}

.kaset_lagu {
  width: 20px;
  height: 20px;
  position: fixed;
  right: 90px;
  bottom: 90px;
  z-index: 999999999;
}

.kaset_lagu img {
  width: 80px;
  height: 80px;
  z-index: 99999999;
}

@keyframes putarKaset {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.kaset_lagu.berputar img {
  animation: putarKaset 2s linear infinite;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 99999999;
  background-color: white;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.2));
}

.nav-konten {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

dl,
ol,
ul {
  margin-bottom: 0rem;
}

*,
::after,
::before {
  box-sizing: unset;
}

.navlist {
  display: flex;
}

.navlist ul {
  display: flex;
  align-items: center;
  margin-bottom: 0rem;
  padding-left: 0rem;
}

.navlist ul li {
  list-style: none;
}

.navlist ul li a {
  text-decoration: none;
  padding: 0 20px;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: black;
  transition: 0.3s all;
}

.navlist ul li a:hover {
  color: rgb(0, 125, 197);
}

.navlist img {
  width: 280px;
  height: 85px;
  padding: 10px;
}

.nav-konten .fiture ul li .burgir-icon {
  width: 20px;
  height: 20px;
  display: none;
  cursor: pointer;
}

.fiture {
  padding-right: 1.5rem;
}

.fiture ul {
  display: flex;
  padding-left: 0px;
  margin-left: 1rem;
}

.fiture li {
  margin: 0 15px;
}

.fiture li img {
  width: 25px;
  height: 25px;
}

.fiture input {
  width: 15rem;
  height: 0.5rem;
  border: none;
  background-color: rgb(230, 230, 230);
  color: black;
  padding: 10px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.fiture input:focus {
  outline: 1px solid orange;
}

.fiture input::placeholder {
  color: rgb(182, 182, 182);
  font-weight: bold;
  font-size: 0.9rem;
  transition: 0.2s ease;
}

.fiture input:focus::placeholder {
  opacity: 0;
}

/* First Konten */
.first-konten {
  width: 100%;
  height: 85vh;
  padding-top: 100px;
  background-image: url(../img/design-01jwj0mzpc-1748656480.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.first-konten .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.carousel {
  margin-top: -35px;
}

.carousel-item .konten {
  width: 90%;
  height: 30%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel-item .konten .text button {
  width: 6.5rem;
  height: 2.2rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 125, 197);
  color: white;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: 0.3s all;
}

.carousel-item .konten .text button:hover {
  background-color: rgb(0, 77, 139);
}

.carousel-item .konten .text h1 {
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.8rem;
  color: rgb(245, 245, 245);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
}

.carousel-item .konten .text .pemilik {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: -5px;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.carousel-item .konten .text p {
  width: 550px;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-bottom: 30px;
  color: black;
  font-size: 1rem;
}

.konten-img {
  position: relative;
  width: 430px;
  height: 380px;
  /* background-color: aqua; */
}

.konten-img img {
  width: 245px;
  height: 380px;
  position: absolute;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
}

.book {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 1s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.book.show:nth-child(1) {
  left: -180px;
  transform: rotateY(-10deg);
}
.book.show:nth-child(2) {
  left: -60px;
  transform: rotateY(-5deg);
}
.book.show:nth-child(3) {
  left: 60px;
  transform: rotateY(5deg);
}
.book.show:nth-child(4) {
  left: 180px;
  transform: rotateY(10deg);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  justify-items: center;
}

/* Kategori Page */
.kategori {
  width: 100%;
  margin-bottom: 3rem;
  /* background-color: aqua; */
}

.kategori .title h1 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 4rem;
  margin-left: 10rem;
}

.selengkapnya {
  display: flex;
  width: 130px;
  height: 42px;
  margin-right: 18rem;
  align-items: end;
  justify-content: end;
  margin-top: 4rem;
  cursor: pointer;
}

.selengkapnya:hover h5,
.selengkapnya:hover img {
  opacity: 1;
}

.selengkapnya h5 {
  font-size: 0.9rem;
  margin-bottom: 4px;
  opacity: 0.7;
  transition: 0.3s all;
}

.selengkapnya img {
  width: 20px;
  height: 20px;
  margin-left: 0.4rem;
  opacity: 0.5;
  transition: 0.3s all;
}

.top {
  display: flex;
  justify-content: space-between;
}

.row {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* warna container */
.col .satu,
.col .dua,
.col .tiga,
.col .empat,
.col .lima {
  opacity: 0.8;
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s all;
}

.col .satu:hover,
.col .dua:hover,
.col .tiga:hover,
.col .empat:hover,
.col .lima:hover {
  opacity: 1;
  cursor: pointer;
}

.col .satu img,
.col .dua img,
.col .tiga img,
.col .empat img,
.col .lima img {
  width: 50px;
  height: 55px;
}

.col .satu h4,
.col .dua h4,
.col .tiga h5,
.col .empat h5 {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0px;
}

.col .lima h4 {
  margin-bottom: 0px;
}

.col .lima ul {
  margin: auto;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0px;
}

ol,
ul {
  padding-left: 1.6rem;
}

.col .satu {
  background-color: rgba(16, 255, 48, 0.856);
}

.col .dua {
  background-color: rgba(255, 148, 17, 0.87);
}

.col .tiga {
  background-color: rgba(137, 43, 226, 0.897);
}

.col .empat {
  background-color: rgba(255, 51, 51, 0.87);
}

.col .lima {
  background-color: rgba(20, 247, 255, 0.829);
}

.col div {
  width: 180px;
  height: 100px;
  /* background-color: aquamarine; */
  border-radius: 15px;
}

.line {
  width: 40%;
  height: 1px;
  background-color: black;
  align-items: center;
  margin: auto;
  margin-bottom: 3rem;
}

/* PRODUK */
.produk-buku {
  width: 100%;
}
.produk-buku .title {
  margin-bottom: 3rem;
}

.title h1 {
  text-align: center;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.kartu-produk-satu {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.kartu-produk-satu .card {
  margin: 0 3rem;
}

.card {
  text-align: center;
  border-radius: 15px;
  height: 630px;
  width: 18rem;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
  border: 8px solid white;
}

.card img {
  height: 400px;
  border-radius: 5px;
}

.pembungkus-produk {
  width: 100%;
}

.linethree {
  margin-top: 7rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

/* BLOG */
.konten-blog {
  width: 100%;
  justify-items: center;
  margin-top: 4rem;
}

.konten-blog p {
  text-align: center;
  width: 53%;
  /* background-color: aqua; */
  font-size: 1.2rem;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* FORM SARAN */
.saran-form {
  width: 100%;
  background-color: rgb(0, 125, 197);
}

.saran-form .title h1 {
  padding-top: 4rem;
  color: white;
}

.saran-mereka {
  width: 80%;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 4rem;
}

.saran-mereka form {
  background-color: rgb(0, 117, 185);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
  padding: 40px;
  border-radius: 20px;
}

.saran-mereka form ul {
  padding-left: 0px;
}

.saran-mereka form ul li label {
  display: block;
  margin-bottom: 15px;
  color: white;
}

.saran-mereka form ul li .first-jarak {
  margin-top: 23px;
}

.saran-mereka form ul li .kirim {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.8rem;
}

.saran-mereka form ul li button {
  width: 110px;
  height: 35px;
  text-align: center;
  border: none;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.3));
  background-color: rgba(0, 110, 255, 0.932);
  color: white;
  transition: 0.3s all;
}

.saran-mereka form ul li button:hover {
  background-color: rgba(0, 86, 199, 0.973);
}

.saran-mereka form ul li input,
.saran-mereka form ul li textarea {
  width: 18rem;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 15px;
}

.saran-mereka form ul li input {
  width: 18rem;
  height: 2.2rem;
}

.saran-mereka form ul li textarea {
  width: 18rem;
  height: 4rem;
  resize: none;
}

.text-form {
  display: flex;
  width: 100%;
  align-items: center;
}

.text-form p {
  width: 70%;
  margin-top: -10px;
  color: white;
  font-size: 1.2rem;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 30vh;
  background-color: rgb(0, 97, 153);
  padding: 20px;
  box-sizing: border-box;
  display: flex;
}

.footer ul li {
  padding: 1px 0px;
}

.footer ul h5 {
  padding-bottom: 3px;
  color: white;
  font-size: 1.1rem;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.4));
}

.footer ul li {
  color: white;
  font-size: 1rem;
}

.footer_konten {
  width: 70%;
  /* background-color: aqua; */
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.konten3 ul li {
  display: flex;
  align-items: center;
}

.footer p {
  margin-bottom: 0rem;
  font-size: 0.9rem;
}

.konten3 ul li img {
  width: 23px;
  height: 23px;
  padding-right: 10px;
  padding-bottom: 5px;
}

/* copyright */
.copyright p {
  margin-bottom: 0px;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 1rem;
  opacity: 0.9;
}

.copyright {
  width: 100%;
  background-color: rgb(39, 39, 39);
}
