@media (max-width: 1675px) {
  .carousel-item .konten .text h1 {
    font-size: 2.5rem;
  }

  .carousel-item .konten .text p {
    width: 500px;
    font-size: 0.9rem;
  }

  .konten-img {
    width: 430px;
    height: 350px;
  }

  .konten-img img {
    width: 225px;
    height: 350px;
  }

  /* KATEGORI */
  .kategori .title h1,
  .title h1 {
    font-size: 2.25rem;
  }

  .konten-blog p,
  .text-form p {
    font-size: 1.1rem;
  }
}
